<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>Comments:</strong>
    <span><%= user.comments.map(&:message).join(", ") %></span>
  </br>

  <%= simple_format(user.bio) %>
</div>

<% # sleep(0.001) %>
